// fade-page
.fade-page-enter
.fade-page-leave-to
  opacity 0
  transform translateX(-30px)
.fade-page-enter-active
.fade-page-leave-active
  transition all .25s

// fade-dialog
.fade-dialog-enter
.fade-dialog-leave-to
  opacity 0
  transform translateY(-30px)
.fade-dialog-enter-active
.fade-dialog-leave-active
  transition all .25s

// fade-rotate
.fade-rotate-enter
.fade-rotate-leave-to
  transform rotateY(90deg)
.fade-rotate-enter-active
.fade-rotate-leave-active
  transition all .25s
